@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.RichTextBlockItem<Umbraco.Cms.Web.Common.PublishedModels.Block>>

<section id="main">
	<div class="container">
		<div class="row">

			<div id="content" class="col-12 col-12-medium">

				@Model.Content.MyContent 

			</div>
		</div>
	</div>
</section>