<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">

			<!-- Content -->
			<div id="content" class="col-12 col-12-medium">

				Homepage

				<a href="/dependency-injection-and-controller-example/">
					Dependency Injection and controller example
				</a>


				Find the Umbraco login details from the Readme.md in the repo
			</div>
		</div>
	</div>
</section>